body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: rgb(255, 213, 241);
    background-color: rgb(63, 38, 60);
}

span {
    padding-left: 15px;
    padding-right: 15px;
}

.playlist {
    color: rgb(255, 213, 241);
    background-color: rgb(199, 103, 230);
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    text-align: center;
    display: block;
    border: 3px solid rgb(255, 170, 226);
    border-radius: 4px;
    margin-bottom: 5px;
}

.playlistContainer {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.likeButton {
    float: right;
    padding: 4px;
}